body {
    background: white;
    /* overflow-x: hidden; */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: orangered;
}

.main__page {
    display: flex;

}

.team__background {
    height: 45vh;
    background: url("/images/teams_images/spurs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.nav__side {
    background: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 15%;
    /* width: 0%; */
}

.nav__side img {
    width: 45%;
}

.team__page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    flex: 1;
}

.bench img {
    /* width: 15%; */
    /* margin: 3rem 3rem; */
    /* background: orangered; */
    /* border-radius: 50%;
    border: 5px black solid; */
}

/* .starters img {
    display: block;
} */

.starters img {
}

.team__stats {
    background: steelblue;
    margin: 50px 50px;
    display: flex;
}

.player__headshot{
    background-image: url(/images/Logos/teams_logos/BOS_logo.svg);
    background-size: cover;
    background-position: center; 
    /* height: 500px; */
    width: 100%;
    height: 450px;
    border: 2px white solid;
    flex: 1;
    /* background: orangered; */
   
}


.nbalogo {
    background: white;
}

/* .a,.b,.c, .d {
    flex: 1;
} */

.a {
    flex: 5;
}

.player__headshot img {
    width: 70px;
    flex: 1;
}
/* .player__headshot > *{
    width: 100%;

} */

.bench {
    /* background: orange; */
}

li {
    list-style: none;
    background: yellowgreen;
    width: 100%;
}

.players {

}

li img {
    width: 100%;
}


.player__profile:hover {
    background: steelblue;
    opacity: 70%;
}


.player__profile {
    width: 350px;

}